<html>

<%- include('./partials/head', {links: links} ) %>

    <body>
        <!-- <ul>
            <% users.forEach((user)=> { %>
                <li>
                    <%= user %>
                </li>
                <% }); %>
        </ul>  -->

        <h4>Messages:</h4>
        <ul>
            <% if (messages.length> 0) {%>
                <% messages.forEach((message)=> { %>
                    <a class="single" href="/message/<%= message.id %>">
                        <li>
                            <div class="message user">
                                <%= message.user %>
                            </div>
                            <div class="message date">
                                <%= message.added %>
                            </div>
                            <div class="message text">
                                <%= message.text.slice(0, 40) %>...
                            </div>
                            <button>Details</button>
                    </a>
                    </li>
                    <% }); %>
                        <% } else {%>
                            <p> There are no messages to display...</p>
                            <% } %>

        </ul>
    </body>

    <%- include('./partials/footer.ejs') %>

</html>